<a href="https://colab.research.google.com/github/ccsoez/Python/blob/master/Print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#標準輸出指令：Print

print指令就是用來輸出指定字串或數值到標準輸出裝置，通常在預設情況下是指輸出到螢幕上。

```
print (項目1,項目2,…, [sep=分隔字元, end=結束字元])
```

*   項目1，項目2：用來輸出多個項目，每一個項目之間必須用逗號「,」隔開
*   sep：分隔字元，將每一個輸出的項目用分隔字元區隔，Python預設的分隔字元是空白字元
*   end：所有項目輸出完畢之後會自動加入的字元，預設為換行字元「\n」

In [8]:
print("知足常樂")

知足常樂

In [3]:
print("金玉良言","知足常樂","笑口常開")
print("金玉良言","知足常樂","笑口常開",sep="-")

金玉良言 知足常樂 笑口常開
金玉良言-知足常樂-笑口常開

#格式化輸出功能

```
print ("項目" %(參數) )
```

*   %s：輸出字串
*   %d：輸出整數
*   %f：輸出浮點數

In [4]:
school="海青工商"
age=71
print('%s已設立%d年' %(school,age))

海青工商已設立71年

也可以用來精準控制輸出的位置，例：透過欄寬設定達到對齊效果
如果字串內容總長度大於n字元，則會全部輸出，少於n字元則會在左方填入空白

*   %8s：固定輸出8個字元，總長度大於8字元會全部輸出、少於則在*字串*左方填空白
*   %8d：固定輸出8個字元，總長度大於8字元會全部輸出、少於則在*數值*左方填空白
*   %8.2f：連同小數點也算1個字元，這個格式固定輸出8個字元，其中小數固定輸出2位數，若小數小於2位數，則在數字右方填0

In [22]:
school1="HCVS"
age1=71
school2="NTUST"
age2=46
print('%s已設立%d年' %(school1,age1))
print('%s已設立%d年' %(school2,age2))

print('%5s已設立%6.1f年' %(school1,age1))
print('%5s已設立%6.1f年' %(school2,age2))

HCVS已設立71年
NTUST已設立46年
 HCVS已設立  71.0年
NTUST已設立  46.0年

#format
另一種格式化的方法，是以一對大刮號{ }來表示參數的位置

```
print ("字串".format (參數列) )
```

In [27]:
school="海青工商"
age=71
#{ }裡沒有參數時，就會依序填入
print('{}已設立{}年'.format(school,age))
#{ }裡有參數時，就會按照索引值填入
print('已設立{1}年的{0}'.format(school,age))

海青工商已設立71年
已設立71年的海青工商